@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,500&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     min-height: 100vh;
     background: #f00;
}

.container-bg {
     width: calc(100% - 350px);
     top: 0;
     bottom: 0;
     left: 0;
     background: url('https://www.xtrafondos.com/wallpapers/tele-rgb-minimalista-7140.jpg');
     position: absolute;
     box-shadow: inset 20px 20px 50px rgba(0, 0, 0, 0.5);
     background-size: cover;
     background-position: center;
}

.container-form {
     width: 350px;
     background: rgb(25, 25, 25);
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     padding-left: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.container-form span.lights {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     width: 5px;
     background: linear-gradient(#f00, #0f0, #00f, #f00);
     border-right: 2px solid rgb(25, 25, 25);
     animation-name: container-form-lights;
     animation-duration: 2000ms;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
}

.title {
     width: 100%;
     text-align: center;
     background: linear-gradient(to left, #f00, #0f0, #00f, #f00);
     color: transparent;
     -webkit-background-clip: text;
     background-clip: text;
     animation-name: title-lights;
     animation-duration: 2000ms;
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     background-size: -100%;
}

.form {
     padding: 25px;
}

.form input {
     width: 100%;
     margin: 5px 0;
     outline: none;
     padding: 7px;
     background: rgb(25, 25, 25);
     color: #fff;
     border-width: 2px;
     font-family: 'Libre Franklin', sans-serif;
}

.form input[type="submit"] {
     font-weight: 600;
}

.form p {
     color: #fff;
     font-weight: 600;
     text-align: center;
     font-size: 20px;
}

.captcha-img {
     width: 250px;
     height: 50px;
     background: url('http://appu.educarperu.com/captcha.php');
     margin: 0 auto;
     margin-bottom: 1rem;
     position: relative;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
}

.captcha-img .img {
     width: 150px;
     height: 36px;
     background: url('http://appu.educarperu.com/captcha.php');
     mix-blend-mode: lighten;
     filter: invert(1) saturate(5);
     z-index: 99;
     background-position: center;
}

.captcha-img .bg {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background: url('https://www.xtrafondos.com/wallpapers/tele-rgb-minimalista-7140.jpg');
     background-size: cover;
     background-position: center;
}

@keyframes container-form-lights {
     0% {
          background-position: 0px 0px;
     }

     100% {
          background-position: 0px 100vh;
     }
}

@keyframes title-lights {
     0% {
          background-position: 0px 0px;
     }

     100% {
          background-position: 290px 0px;
     }
}

@media (max-width: 656px) {
     .container-form {
          bottom: 0;
          left: 0;
          right: 0;
          top: initial;
          width: 100%;
     }

     .form {
          padding: 10px 2px;
     }

     .container-bg {
          width: 100%;
     }
}